body{
    background-color: rgb(112, 212, 245);
    
}
.game{
    width: 500px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    margin: auto;
    font-size: x-large;
   
}
.title{
    background-color: blue;
    padding: 5px 0;
    margin: 5px 0;
    margin-top: 50px;
    
}
span{
    width: 500px;
    color: brown;
}
.square{
    width: 160px;
    height: 160px;
    background-color: antiquewhite;
    float: left;
    margin: 2px;
    font-size: 100px;
    color: brown;
    border-radius: 20px;
}
.square:hover{
   background-color: aqua;
   cursor: pointer;
}
  
  