body{
    background-image: url(/img/background-blur-clean-531880.jpg);
    
}
.game{
    width: 500px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(26, 66, 53);
    margin: auto;
    font-size: x-large;
   
}
.title{
    background-color: rgb(93, 155, 149);
    padding: 18px 0;
    margin: 33px 0;
    margin-top: 64px;
    margin-left: -49px;
    
}
span{
    width: 500px;
    color: rgb(26, 66, 53);
}
.square{
    width: 150px;
    height: 150px;
    background-color: rgb(104, 136, 137);
    float: left;
    margin: 2px;
    font-size: 100px;
    color: brown;
    border-radius: 20px;
}
.square:hover{
   background-color: rgb(60, 112, 112);
   cursor: pointer;
}
  
  